@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  display: none
}

.backGround {
  background-size: cover;
  background-repeat: none;
}

.landing {
  height: 100vh;
  background-image: url(../images/backgrounds/h_img.jpg);
  background-position: 100% center;
}

.figure {
  position: absolute;
  bottom: 30px;
}

.service {
  background-image: url("../images/backgrounds/s_image.jpg");
  height: 45vh;
}

.service p {
  text-shadow: 0 2px 3px black;
}

.weDo {
  min-height: 40vh;
}

.whatDo {
  display: none;
}

.projectName {
  opacity: 0;
  text-shadow: 3PX 2px 3px black;
}

.projectName:hover {
  opacity: 1;
  transition: .5s;
  background-color: rgba(17, 17, 17, 0.411);
}

.contact {
  height: 70vh;
  background-position: center 100%;
  background-image: url("../images/backgrounds/c_image.jpg")
}

form {
  width: 60%;
}

.txt-area {
  margin: 10px auto;
  width: 95% !important;
  height: 40vh !important;
}

::placeholder {
  color: white !important;
  opacity: .7 !important;
}

li {
  list-style-type: none;
  padding: 0 5px;
}