* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backGround {
  background-size: cover;
  background-repeat: none;
}

.landing {
  height: 100vh;
  background-image: url(../images/backgrounds/h_img.jpg);
  background-position: 100% center;
}