@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.backGround {
  background-size: cover;
  background-repeat: none;
}

.landing {
  height: 100vh;
  background-image: url(../images/backgrounds/h_img.jpg);
  background-position: 100% center;
}

.figure {
  position: absolute;
  bottom: 30px;
}

.service {
  background-image: url("../images/backgrounds/s_image.jpg");
  height: 40vh;
}

.service p {
  text-shadow: 0 2px 3px black;
}

.weDo {
  height: 30vh;
}

.contact {
  height: 70vh;
  background-image: url("../images/backgrounds/c_image.jpg")
}